<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org ">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Job search app</title>

    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>
Hello: <span sec:authentication="name">Bob</span>
<div class="container">

    <div class="starter-template">
    <b/><b/>
        <h1>Professional Experience</h1>
        <!-- <p class="lead">Use this document as a way to quickly start any new project.<br/> All you get is this text and a mostly barebones HTML document.</p> -->
    </div>
    <br />
    <br />
    <form action="#" th:action="@{/addjob}" th:object="${job}" method="post">
        <div class="form-group">
        	<label for="title">First name</label>
            <input type="text" class="form-control" id="title" placeholder="Position" th:field="*{title}"/>
        </div>
        <div class="form-group">
            <label for="company">Last name</label>
            <input type="text" class="form-control" id="company" placeholder="Company" th:field="*{company}"/>
        </div>
        <div class="form-group">
            <label for="startdate">Start Date</label>
            <input type="text" class="form-control" id="startdate" placeholder="Start Date" th:field="*{startdate}"/>
        </div>
          <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="text" class="form-control" id="endDate" placeholder="Start Date" th:field="*{endDate}"/>
	     </div>   
	     
	     <div class="form-group">
  			<label for="duty">Duties:</label>
  			<textarea class="form-control" rows="5" id="duty"></textarea>
		</div>     
	 	 <ul class="pager">
		    <li class="previous"><a href="/addeducation">Previous</a></li>
		    <li class="add"><a href="/addjob">Add</a></li>
		    <li class="next"><a href="/addskill">Next</a></li>
	      </ul>  
       <!-- <button type="submit" class="btn btn-default">Submit</button>  --> 
    </form>
</div><!-- /.container -->
<th:block th:replace="base :: footlinks"></th:block>
</body>
</html>