<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org ">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Job search app</title>

    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>
Hello: <span sec:authentication="name">Bob</span>
<div class="container">

    <div class="starter-template">
    <b/><b/>
        <h1>Add your information</h1>
        <!-- <p class="lead">Use this document as a way to quickly start any new project.<br/> All you get is this text and a mostly barebones HTML document.</p> -->
    </div>
    <br />
    <br />
    <form action="#" th:action="@{/addskill}" th:object="${skill}" method="post">
   <h2>Add skills</h2>
    <div class="form-group">
        	<label for="skillset">Skills</label>
            <input type="text" class="form-control" id="skillset" placeholder="Skills" th:field="*{skillset}"/>
        </div>
    <p></p>
    <p>How proficient are you</p>
	<div class="radio">
		<label><input type="radio" th:field="*{rating}" name="rating"  value="highly skilled"/>highly skilled</label>
	</div>
	<div class="radio">
		<label><input type="radio" th:field="*{rating}" name="rating"  value="proficient"/>proficient</label>
	</div>
	<div class="radio">
		<label><input type="radio" th:field="*{rating}" name="rating"  value="familiar"/>familiar</label>
	</div>
	 <input type="hidden" id="id" th:field="*{id}"></input>
    <p></p>
  <!--   <div class="dropdown">
  	<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Rating
  	<span class="caret"></span></button>
  	<ul class="dropdown-menu">
    	<li><a href="#">highly skilled</a></li>
    	<li><a href="#">proficient</a></li>
    	<li><a href="#">familiar</a></li>
  	</ul>
	</div> 
			<ul class="pager">
		    <li class="previous"><a href="/addjob">Previous</a></li>
		    <li class="add"><a href="/addskill">Add</a></li>
		    <li input type="submit" class="btn btn-info" value="Submit Button">Submit</li> 
	      </ul> -->     
	 <!--<div class="container">-->
	 <ul class="pager">
  		<li><a href="/addjob" class="previous" role="button">previous</a></li>
  		<li><a href="/addeducation" class="add" role="button">Add</a></li> 
  		<!-- <li><a href="/addskill" class="add" role="button">Add</a></li> -->
  		<li><input type="submit" class="btn btn-info" value="Submit"/></li>
  	</ul>
	<!-- </div> -->
	 	
       <!-- <button type="submit" class="btn btn-default">Submit</button>  --> 
    </form>
</div><!-- /.container -->

<th:block th:replace="base :: footlinks"></th:block>
</body>
</html>